## MacOS
*.DS_Store
.bundle
.sass-cache
node_modules
package.json

## Jekyll stuff
/_site/
_site/
.sass-cache/
.jekyll-metadata
.jekyll
.jekyll-cache
Gemfile
Gemfile.lock
https://gmlwjd9405.github.io/2017/10/06/Jekyll-github.io-blog-3.html
google89998b482077163e.html
naver50e00d5c92f69da72b40099384d3a792.html
