<!-- Google tag (gtag.js) changed at 2023.04.23 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TDGF19W0QJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TDGF19W0QJ');
</script>

<!-- Global site tag (gtag.js) - Google Analytics // oldVer.
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.analytics.google.tracking_id }}', { 'anonymize_ip': {{ site.analytics.google.anonymize_ip | default: false }}});
</script> -->
